# Local tooling
.DS_Store
*.local
*.log*
.claude/launch.json

# Dist
node_modules
dist/
doc_build/

# Rspress
.rspress

# Secrets
.env
.env.local
.env.*.local

# Vercel
.vercel

# IDE
.vscode/*
!.vscode/extensions.json
.idea

.vercel
